@layer theme, base, components, mantine, utilities;

@import 'tailwindcss';

@layer mantine {
  @import '@mantine/core/styles.layer.css';
}
@import 'tailwind-preset-mantine';
@import '@mantine/dropzone/styles.css';
@import '@mantine/dates/styles.css';
